.pack-lanch__container {
  padding-bottom: 50px;
}

.dishes {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}

.dish {
  display: flex;
  flex-direction: column;
  padding: 30px 40px;
  border-radius: 35px;
  cursor: pointer;
  filter: drop-shadow(17px 19px 24px rgba(0, 0, 0, 0.13));
  background: white;
  font-size: var(--font-size-m);
  transition: .1s linear border;
}

.dish:hover {
  border: 2px solid tomato;
}

.dish_selected {
  border: 2px solid tomato;
}

.dish:hover .dish__add {
  background: lightgrey;
}

.dish__img {
  border-radius: 35px;
  margin-bottom: 10px;
}

.dish__name {
  margin-bottom: 20px;
}

.dish__amount {
  color: grey;
  margin-bottom: 10px;
  margin-top: auto;
}

.dish__btn {
  background: #f1eee9;
  border: none;
  padding: 10px 30px;
  border-radius: 10px;
  cursor: pointer;
  font-size: var(--font-size-m);
  transition: .1s linear background;
}

@media (max-width: 800px) { 
  .dishes {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 600px) {
  .title {
    text-align: center;
  }

  .dishes {
    grid-template-columns: 1fr;
  }
}

.combo-section {
  padding-top: 50px;
}

.combo {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.combo__title {
  text-align: center;
  margin-bottom: 25px;
}

.combo__item {
  display: flex;
  flex-direction: column;
}

.combo__content {
  display: flex;
  justify-content: center;
}

.combo__content >:not(:last-child) {
  margin-right: 20px;
}

.icon:hover .icon__img {
  transform: translateY(-5px);
  scale: 1.2;
}

.icon {
  text-align: center;
  font-size: var(--font-size-m);
}

.icon__img {
  max-width: 50px;
}

.icon__note {
  font-style: italic;
  text-align: center;
  font-size: calc(var(--font-size-m) - 2px);
}

.filter {
  display: flex;
  margin-bottom: 25px;
}

.filter__item {
  color: green;
  padding: 5px 10px;
  border-radius: 10px;
  font-size: var(--font-size-m);
}

.filter__item:not(:last-child) {
  margin-right: 25px;
}

.filter__item_selected {
  background: rgb(221, 255, 221);
}

.order-line {
  display: flex;
  justify-content: space-between;
  padding: 10px 20px;
  background-color: rgba(255 255 255 / .8);
  position: sticky;
  width: 100%;
  bottom: 0;
}

.order-line__price {
  font-size: var(--font-size-l);
}